@media (prefers-color-scheme: dark) {

  /* #region BODY CONTAINER*/

  .light-theme{
    display: none;
  }

  body{
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
  }
  
  a{
    color: #ffffff;
  }

  button{
    color: #ffffff;
  }

  .color-a{
    background-color: #333333;
  }
  .color-b{
    background-color: #262626;
  }

  .brand-color-bar{
    background-color: #1a1a1a;
  }

  .text-color-white{
    color: #ffffff;
  }
  .text-color-white:hover{
    text-shadow: 0px 0px 2.5px #ffffff;
  }

  .active-tab{
    background-color: #262626;
    text-shadow: 2px 2px 5px #000000;
  }

/* #endregion */

/* #region HEADER SECTION */

.tab-link-button{
  background-color: #1a1a1a;
}

.tab-link-button:hover{
  background-color: #262626;
  text-shadow: 2px 2px 5px #000000;
}

.logo-buttons button:hover{
  background-color: #1a1a1a99;
}

.footer-tab-links li a{
  background-color: #262626;
}

.header{
  background-color: #1a1a1a;
}

.tab.responsive{
  background-color: #1a1a1a;
}

.icon{
  background-color: #1a1a1a;
}
/* #endregion */

/* #region PAGECONTAINER SECTION */
.page-container{
  background-color: #333333;
}

.hero-section{
  background-color: #1a1a1a;
}

.opleiding-section{
  background-image: linear-gradient(#262626, #333333);
  border-bottom: #1a1a1a 2px solid;
}
.opleiding-section.index{
  border-bottom: 0;
}
.color-a .opleiding-section{
  border-bottom: #1a1a1a 2px solid;
}
.lees-meer:hover{
  text-shadow: 0 0 2.5px #ffffff;
}

.diensten-section{
  background-image: linear-gradient(#262626, #333333);
  border-bottom: #1a1a1a 2px solid;
}
.card-text{
  background-image: linear-gradient(#1a1a1a, #262626);
}


.faq-section{
  background-image: linear-gradient(#262626, #333333);
  border-bottom: 2px solid #1a1a1a;
}
.faq-section details {
  box-shadow: 0px 2px #1a1a1a;
}
.faq-section summary:hover {
  text-shadow: 0 0 2.5px #ffffff;
}

/* #endregion */

/* #region OPLEIDING CONTAINER SECTION */

.opleiding-subjects-section{
  background-image: linear-gradient(#262626, #333333);
  border-bottom: 2px solid #1a1a1a;
}

.opleiding-subjects-section details {
  box-shadow: 0px 2px #1a1a1a;
}

.sign-up-section{
  background-image: linear-gradient(#262626, #333333);
}

/* #endregion OPLEIDING CONTAINER SECTION */

/* #region CONTACT PAGE */

.contact-info a:hover{
  text-shadow: 0 0 2.5px  #ffffff;
}

/* #endregion CONTACT PAGE */

/* #region PRIVACY PAGE */

.privacy-page{
  background-image: linear-gradient(#262626, #333333);
}

.privacy-page a:hover{
  text-shadow: 0 0 2.5px #ffffff;
}

/* #endregion PRIVACY PAGE */

/* #region FOOTER SECTION */
.footer{
  background-color: #1a1a1a;
}

.fa-brands{
  color: #ffffff;
}

.footer-info a:hover{
  text-shadow: 0 0 2.5px  #ffffff;
}

.volg-ons button{
  background-color: #1a1a1a;
}


/* #endregion */
}

@media (prefers-color-scheme: light) {

  /* #region BODY CONTAINER*/

  .dark-theme{
    display: none;
  }

  body{
    color: #1a1a1a;
    text-shadow: none;
  }
  
  a{
    color: #1a1a1a;
  }

  button{
    color: #1a1a1a;
  }

  .color-a{
    background-color: #ffffff;
  }
  .color-b{
    background-color: #e6e6e6;
  }

  .brand-color-bar{
    background-color: #cccccc;
  }

  .text-color-white{
    color: #1a1a1a;
  }
  .text-color-white:hover{
    text-shadow: 0 0 2.5px #1a1a1a;
  }

  .active-tab{
    background-color: #e6e6e6;
  }

/* #endregion */

/* #region HEADER SECTION */

.tab-link-button{
  background-color: #ffffff;
}

.tab-link-button:hover{
  background-color: #e6e6e6;
}

.footer-tab-links li a{
  background-color: #e6e6e6;
}

.logo-buttons button:hover{
  background-color: #ffffff99;
}

.header{
  background-color: #ffffff;
}

.tab.responsive{
  background-color: #ffffff;
}

.icon{
  background-color: #ffffff;
}
/* #endregion */

/* #region PAGECONTAINER SECTION */
.page-container{
  background-color: #ffffff;
}

.hero-section{
  background-color: #ffffff;
}

.opleiding-section{
  background-image: linear-gradient(#e6e6e6, #ffffff);
  border-bottom: #cccccc  2px solid;
}
.opleiding-section.index{
  border-bottom:  0;
}
.color-a .opleiding-section{
  border-bottom: #cccccc  2px solid;
}
.lees-meer:hover{
  text-shadow: 0 0 2.5px #1a1a1a;
}

.diensten-section{
  background-image: linear-gradient(#e6e6e6, #ffffff);
  border-bottom: #cccccc  2px solid;
}
.card-text{
  background-image: linear-gradient(#ffffff, #e6e6e6);
}
.card{
  background-color: #cccccc;
}

.faq-section{
  background-image: linear-gradient(#e6e6e6, #ffffff);
  border-bottom: 2px solid #cccccc;
}
.faq-section details {
  box-shadow: 0px 2px #cccccc;
}
.faq-section summary:hover {
  text-shadow: 0 0 2.5px #1a1a1a;
}

/* #endregion */

/* #region OPLEIDING CONTAINER SECTION */

.opleiding-subjects-section{
  background-image: linear-gradient(#e6e6e6, #ffffff);
  border-bottom: 2px solid #cccccc;
}

.opleiding-subjects-section details {
  box-shadow: 0px 2px #cccccc;
}

.sign-up-section{
  background-image: linear-gradient(#e6e6e6, #ffffff);
}

/* #endregion OPLEIDING CONTAINER SECTION */

/* #region CONTACT PAGE */

.contact-info a:hover{
  text-shadow: 0 0 2.5px  #1a1a1a;
}



/* #endregion CONTACT PAGE */

/* #region PRIVACY PAGE */

.privacy-page{
  background-image: linear-gradient(#e6e6e6, #ffffff);
}

.privacy-page a:hover{
  text-shadow: 0 0 2.5px #1a1a1a;
}

/* #endregion PRIVACY PAGE */

/* #region FOOTER SECTION */
.footer{
  background-color: #ffffff;
}

form button{
  background-color: #ffffff;
  color: #ffffff;
}
.footer-info a:hover{
  text-shadow: 0 0 2.5px  #1a1a1a;
}

.volg-ons button{
  background-color: #ffffff;
}

.fa-brands{
  color: #1a1a1a;
  text-shadow: none;
}

/* #endregion */
}

/* #region BODY SECTION */

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
}

@font-face {
  font-family: poppins;
  src: url(fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: dm-sans;
  src: url(fonts/DM_Sans/static/DMSans-Regular.ttf);
}
@font-face {
  font-family: tw-cen-mt;
  src: url(fonts/tw-cen-mt.ttf);
}

h1{
  font-family: dm-sans;
  font-weight: normal;
  line-height: 60px;
}
h2{
  font-family: dm-sans;
  font-weight: normal;
  line-height: 50px;
}
h3{
  font-family: dm-sans;
  font-weight: normal;
  line-height: 40px;
}
h4{
  font-family: dm-sans;
  font-weight: normal;
  line-height: 30px;
}

h5{
  font-family: dm-sans;
  font-weight: normal;
  line-height: 30px;
}
h6{
  font-family: dm-sans;
  font-weight: normal;
  line-height: 30px;
}

p{
  font-family: poppins;
}

button{
  font-family: tw-cen-mt;
}

a{
  font-family: dm-sans;
  text-decoration: underline;
  width: auto;
}

ul{
  padding-left: 40px;
  margin: 8px 0;
}

li{
  font-family: poppins;
}

.brand-color-bar.phone{
  display: none;
}
.brand-color-bar{
  display: flex;
  height: 12px;
}
.color-1{
  background-color:  #42b84c;
  height: 12px;
  width: 33%;
}
.color-2{
  background-color:  #5dc1e8;
  height: 12px;
  width: 34%;
  margin: 0 4px;
}
.color-3{
  background-color:  #ababab;
  height: 12px;
  width: 33%;
}

.text-color-green{
  color: #42b84c;
}
.text-color-green:hover{
  text-shadow: 0 0 2.5px #42b84c;
}
.text-color-green-nh{
  color: #42b84c;
}

.text-color-blue{
  color: #5dc1e8;
}
.text-color-blue:hover{
  text-shadow: 0 0 2.5px #5dc1e8;
}
.text-color-blue-nh{
  color: #5dc1e8;
}

.text-color-grey{
  color: #ababab;
}
.text-color-grey:hover{
  text-shadow: 0 0 2.5px #ababab;
}
.text-color-grey-nh{
  color: #ababab;
}

.active-tab{
  color: #42b84c;
}

.img-5{
  width: 100%;
  height: 649px;
  background-image: url('images/new-images/IMG-20240521-WA0004.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: 0 0 10px #000000;
}
.img-6{
  width: 100%;
  height: 500px;
  background-image: url('images/default-profile-picture.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: 0 0 10px #000000;
}

/* #endregion */

/* #region HEADER SECTION */
.header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
}

.logo{
  height: 150px;
}

.logo-img{
  transition: all .5s ease-in-out; 
}

.logo-div{
  position: relative;
  height: auto;
  margin: 25px 0;
}
.logo-link{
  margin-bottom: 100px;
}

.logo-buttons{
  position: absolute;
  right: 0;
  bottom: 10.5%;
  z-index: 2;
  background-color: transparent;
  height: 26%;
  width: 65.09433962%;
}

.logo-buttons button{
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.logo-buttons button:hover{
  transition: 0.25s;
}

.landmeten-logo-button{
  width: 31.5942029%;
}
.maatvoering-logo-button{
  width: 38.84057971%;
}
.opleiding-logo-button{
  width: 29.56521739%;
}


.logo-img:hover { 
  transform: scale(1.1);
}

.tab{
  height: 32px;
}

.tab-links{
  height: 32px;
  margin: 0 17px;
}

.icon{
  display: none;
}

.tab-links a{
  text-decoration: none;
}
.tab-link-button{
  transition: all .5s ease-in-out; 
  border: none;
  font-size: 18px;
  padding: 8.5px 9.5px;
  border-radius: 18px;
}

.tab-link-button:hover{
  transform: scale(1.1); 
  transition: .5s;
  color: #5dc1e8;
}

 @media screen and (max-width: 913px){
  .tab{
    margin-bottom: 25px;
    margin-top: -16px;
  }

  .logo{
    width: 95%;
    max-width: 530px; 
    height: auto;
  }
  .logo-div{
    width: 100%;
    height: auto;
  }
  .logo-img{
    width: 100%;
    height: auto !important;
  }
  .brand-color-bar.phone{
    display: flex;
  }
}

@media screen and (max-width: 650px){
  .tab-links{
    margin: 0;
  }
}

@media screen and (max-width: 530px){
  .logo-div{
    margin: 4.716981132vw 0;
  }
}

@media screen and (max-width: 416px){
  .header{
    height: 27.88461538vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: normal;
    align-content: normal;
  }
  .logo{
    margin-right: 0;
  }

  .tab{
    background-color: transparent;
    display: flex;
    align-items: end;
    flex-direction: column;
    text-align: right;
    z-index: 2;
    width: 101.953px;
    padding: 0 25px 6.25px;
  }

  .icon{
    margin-top: 0px;
    display: block;
    font-size: 28px;
  }

  .icon i{
    transition: all .5s ease-in-out; 
  }

  .icon i:hover{
    transform: scale(1.1); 
  }

  .tab-links{
    margin: 0;
    margin-top: 4px;
  }


  .tab-links a{
    display: none;
  }

  .tab.responsive{
    height: 180px;
  }

  .tab.responsive .tab-links a{
    display: block;
    float: right;
  }
}

@media screen and (max-width: 416px){
  .header{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .logo{
    align-self: center;
  }

  .tab-links{
    margin: 0;
    padding: 0 8px;
    height: 300px;
  }

  .tab.responsive{
    margin: 0;
    margin-top: -5px;
    width: 134px;
    padding: 0 0 6.25px;
    height: 190px;
  }

  .tab{
    align-self: flex-end;
    width: auto;
    margin-top: -5px;
    padding: 0;
  }

  .icon{
    padding: 8px 16px 5px;
    width: 24.5px;
  }

  .tab.responsive .icon{
    float: right;
  }
}
/* #endregion */

/* #region HOME CONTAINER SECTION */
.page-container{
  flex-grow: 1;
}

/* #region HERO SECTION */

.hero-section{
  display: flex;
  justify-content: space-evenly;
}

.hero-section-new{
  display: flex;
  position: relative;
}

.hero-section-text{
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  width: 50%;
}

.hero-section-text ul{
 margin: auto;
 padding: 0;
 list-style-type: none;
 width: fit-content;
}

.hero-section-text li{
  margin: 10px 0;
  width: fit-content;
  padding: 0 10px;
}

.hero-section-text h3{
  background-color: #5dc1e8;
  margin: 0;
  margin: 10px 0;
  padding: 0 10px;
}

.hero-section-content{
  width: 100%;
  margin: auto;
}

.hero-section-content div{
  width: 80%;
  max-width: 500px;
  margin: 64px auto;
}

.hero-section-content h1{
  max-width: 500px;
  margin-bottom: 20px;
  margin-top: 0;
}
.hero-section-content h4{
  max-width: 500px;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: poppins;
  line-height: 30px;
}

.horizongeodesie{
  color: #5dc1e8;

}

.cta button{
  color: #ffffff;
  font-size: 20px;
  padding: 10.5px 12px;
  margin-top: 24px;
  border-radius: 24px;
  max-width: 500px;
  text-decoration: none;
  border: none;
  transition: all .5s ease-in-out;
  box-shadow: 0 0 10px 2px #1a1a1a;
  text-shadow: 2px 2px 3px #000000;
}

.cta-opleiding{
  background-color: #42b84c;
}

.cta-contact{
  color: #ffffff !important;
  background-color: #5dc1e8;
}

.cta button:hover{
  transform: scale(1.1);
}

.hero-section-content ul{
  max-width: 400px;
  margin: 12px 0;
  list-style-type: disc;
  padding-left: 40px;
}

.slideshow-container{
  margin: auto;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-style{
  width: 100%;
  height: 33vw;
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: inset 0 0 100px #000000;
}

.img-1-slideshow{
  background-image: url('images/new-images/totalstation-2.png');
}
.img-2-slideshow{
  background-image: url('images/new-images/waterpassen.jpg');
}
.img-3-slideshow{
  background-image: url('images/new-images/spiegeltje-en-tsc5.png');
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: max-content;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 768px){
 /* .hero-section-text h3{
    line-height: 5.21vw;
    font-size: 2.44vw;
    margin: 1.3vw 0;
    padding: 0 1.3vw;
  }*/

  .hero-section-text{
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    width: 50%;
  }
}

@media screen and (max-width: 623px){
  .hero-section-text{
    width: 66.667%;
  }
}
@media screen and (max-width: 550.5px){
  .hero-section-text{
    width: 75%;
  }

  .hero-section-text h3{
    line-height: 7.266vw;
    font-size: 3.4vw;
    margin: 1.817vw 0;
    padding: 0 1.817vw;
  }
}

@media screen and (max-width: 768px){

  .hero-section{
    flex-direction: column-reverse;
  }

  .img-1-slideshow{
    height: 66vw;
  }
  .img-2-slideshow{
    height: 66vw;
  }
  .img-3-slideshow{
    height: 66vw;
  }

  .opleiding-section{
    padding-bottom: 0 !important;
  }

}

/* #endregion */

/* #region HOME OPLEIDING SECTION */

.opleiding-section{
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

.img-opleiding{
  width: 80%;
  height: 500px;
  background-image: url('images/new-images/TSC5.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: inset 0 0 100px #000000;
}

.color-a .opleiding-section{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 64px 0;
}

.opleiding-text-container{
  width: 100%;
}

.opleiding-text{
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.opleiding-section h1{
  margin-top: 0;
  margin-bottom: 32px;
}

.opleiding-section .p2{
  margin-bottom: 0;
}

.p-20px{
  font-size: 20px;
}

.img-opleiding-container{
  margin: auto;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.opleiding-section .index{
  margin-bottom: 100px;
}

@media screen and (max-width: 768px){
  .opleiding-section{
    flex-direction: column;
    padding: 0;
  }

  .color-a .opleiding-section{
    flex-direction: column;
    padding: 0;
  }

  .opleiding-text-container{
    width: 80%;
    max-width: 400px;
    margin: auto;
  }
  .img-opleiding-container{
    width: 100%;
    margin: auto;
    height: 66vw;
  }
  .img-opleiding{
    width: 80%;
    height: 80%;
  }
}

/* #endregion */

/* #region HOME DIENSTEN SECTION */

.diensten-section{
  text-align: center;
  margin-bottom: 0px;
}

.diensten-section h1{
  padding-top: 100px;
  margin-top: 0;
  margin-bottom: 48px;
}

.diensten-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.diensten-cards a{
  text-decoration: none;
  width: 284px;
  margin: 0 25px;
}
@media screen and (max-width: 366px){
  .diensten-cards a{
    margin: 0;
  }
}

.card{
  width: 284px;
  text-align: center;
  margin-bottom: 64px;
  border-radius: 24px;
  box-shadow: 0 0 25px #000000;
  transition: all .5s ease-in-out; 
}

.card-text{
  padding-bottom: 25px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.card:hover{
  box-shadow: 0 0 25px #5dc1e8;
  transform: scale(1.1); 
}

.card img{
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.h4.landmeten1{
  color: #42b84c;
  text-align: center;
  padding: 15px 30px;
  margin: 0;
}
.h4.maatvoering1{
  color: #5dc1e8;
  text-align: center;
  padding: 15px 30px;
  margin: 0;
}

.h4.kadaster1{
  color: #ababab;
  text-align: center;
  padding: 15px 30px;
  margin: 0;
}

.card-p2{
  margin: auto;
  width: 234px;
  font-size: 16px;
  text-align: left;
}

.img-diensten-container{
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 284px;
  height: 189.3px;
}

.img-card{
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
}

.img-diensten-cards-1{
  background-image: url('images/new-images/totalstation.png');
}
.img-diensten-cards-2{
  background-image: url('images/new-images/spiegeltje-potlood-en-haak.png');
}
.img-diensten-cards-3{
  background-image: url('images/new-images/waterpassen.jpg');
}

/* #endregion */

/* #region FAQ SECTION */

.faq-section{
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.faq-section h2{
  color: #42b84c;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 20px;
  margin-top: 0;
}

.faq-section *,
.faq-section *::before,
.faq-section *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.faq-section .accordion {
	max-width: 800px;
	width: 80%;
  margin-bottom: 64px;
}
.faq-section details {
	background-color: transparent;
}

.faq-details{
  font-family: dm-sans;
}

.faq-section details > summary {
  padding: 16px;
	cursor: pointer;
}
.faq-section details > p {
	padding: 16px;
  padding-top: 0;
}

/* #endregion */

/* #region CTA SECTION */

.cta-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
}

/* for button style see hero section .cta button */

/* #endregion  CTA SECTION */

/* #endregion PAGECONTAINER END */

/* #region DIENSTEN CONTAINER SECTION */

.img-style-diensten{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: inset 0 0 100px #000000;
}

.img-diensten-style{
  width: 80%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: inset 0 0 100px #000000;
}

.img-diensten-landmeten{
  background-image: url(images/new-images/totalstation.png);
}
.img-diensten-maatvoering{
  background-image: url(images/new-images/spiegeltje-potlood-en-haak.png);
}
.img-diensten-kadaster{
  background-image: url(images/new-images/waterpassen.jpg);
}

.opleiding-section.kadaster{
  border-bottom: none !important;
}

@media screen and (max-width: 768px){
  .diensten-page-container h1{
    margin-top: 0;
  }

  .diensten-page-container .opleiding-text{
    margin-bottom: 64px;
  }


  .img-diensten-style{
    width: 80%;
    height: 80%;
  }

  .img-style-diensten{
    height: 66vw;
  }
}



/* #endregion DIENSTEN CONTAINER SECTION */

/* #region OPLEIDING CONTAINER SECTION */

.opleiding-page{
  flex-grow: 1;
}

.img-style-opleiding{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: inset 0 0 100px #000000;
}
@media screen and (max-width: 768px){

  iframe{
    height: 66vw;
  }

  .img-style-opleiding{
    height: 66vw;
  }
}

.opleiding-subjects-section{
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.opleiding-subjects-section h1{
  color: #42b84c;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 20px;
  margin-top: 0;
  width: 80%;
}

.opleiding-subjects-section h2{
  text-align: center;
  width: 80%;
}

.opleiding-subjects-section *,
.opleiding-subjects-section *::before,
.opleiding-subjects-section *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.opleiding-subjects{
  font-family: dm-sans;
  font-size: 18px;
}

.opleiding-subjects-section .accordion {
	max-width: 800px;
	width: 80%;
  margin-bottom: 64px;
  margin-top: 32px;
}
.opleiding-subjects-section details {
	background-color: transparent;
}
.opleiding-subjects-section summary:hover {
  text-decoration: underline;
}
.opleiding-subjects-section details > summary {
  padding: 12px;
	cursor: pointer;
  font-size: 20px;
}
.opleiding-subjects-section details > div {
	padding: 16px;
  padding-top: 0;
}

.opleiding-subjects-section ul{
  padding-left: 40px;
  margin: 8px 0;
}

.opleiding-subjects-section div{
  padding-bottom: 8px;
}

.sign-up-section h2{
  color: #42b84c;
  text-align: center;
}

.sign-up-section form{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 64px 0;
  width: none;
}

.form-flex-1{
  margin-top: 15px;
  display: flex;
  padding: 0 50px;
  justify-content: end;
  align-items: center;
  width: 439.594px;
}

.divider{
  border: 1px solid #1a1a1a;
}

.form-flex-2{
  padding:  0 50px;
  justify-content: center;
}

@media screen and (max-width: 1081px){
  .sign-up-section form{
    flex-direction: column;
  }

  .form-flex-1{
    justify-content: center;
    width: auto;
  }
  
  .form-flex-2{
    justify-content: center;
  }

  .sign-up-section ul{
    width: fit-content;
    margin: 0 auto;
  }

  .submit-button-1{
    display: none;
  }
  .submit-button-2{
    display: block !important;
    justify-self: center;
  }

  .divider{
  border: 0px solid #1a1a1a;
}
}

.submit-button-2{
  display: none;
}

.sign-up-section #input-text{
  width: 221px;
  margin-right: auto;
  margin-left: auto;
}

.sign-up-section ul{
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}

.sign-up-section li{
  display: flex;
  margin: 10px 0;
}

.sign-up-section li input{
  margin: 0;
  margin-right: 5px;
}

.sign-up-section h3{
  width: 221px;
}

.verstuur-knop{
  width: 221px;
}

.submit-button{
  width: 221px;
  margin: auto;
}

.submit-button button{
  width: 221px;
}

/*
@media screen and (max-width: 660px){
.sign-up-section ul{
  padding-left: calc(50vw - 110px);
  margin-right: 5vw;
}
}
*/

/* #endregion OPLEIDING PAGECONTAINER END */

/* #region CONTACT PAGE */

iframe{
  width: 100%;
}

.contact-hero{
  border-bottom: none !important;
}

@media screen and (max-width: 768px){
  .contact-hero{
    flex-direction: column !important;
  }
}

.contact-info ul{
  font-size: 17.72px;
  margin-top: -6.25px !important;
  list-style-type: none;
  padding-left: 0;
}

.contact-info div{
  margin: 0;
}

.contact-info ul li a{
  display: flex;
  align-items: center;
  margin: 6.25px;
  margin-left: 0;
  text-decoration: none;
}

.contact-info .info-icon{
  height: 23px;
  width: 20px;
  margin-right: 10px;
}

/* #endregion CONTACT PAGE */

/* #region PRIVACY PAGE */
.privacy-page{
  padding: 64px 0;
}

.privacy-page a{
  font-family: poppins;
}

.privacy-page h3{
  width: 80%;
  margin: auto;
}

.privacy-page h3 a{
  font-family: dm-sans;
}

.privacy-page-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.privacy-page-content div{
  width: 100%;
  max-width: 500px;
}

.privacy-page-content div h2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.privacy-page-content div p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-align-center{
  text-align: center;
}

/* #endregion PRIVACY PAGE */

/* #region FOOTER SECTION */
.footer{
  height: auto;
  padding-top: 25px;
}
.footer-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-logo{
  height: auto;
  width: 530px;
  padding: 25px;
}
@media screen and (max-width: 913px){

  .footer-logo{
    width: 95%;
    max-width: 530px; 
    height: auto;
  }
}

.footer-info{
  width: fit-content;
  padding: 50px;
}

.footer h3{
  margin-top: 0;
  margin-bottom: 12.5px;
}

.footer-info ul{
  font-size: 16px;
}

.footer-info a{
  text-decoration: none;
}

@media screen and (max-width: 320px){
.footer-info ul{
  font-size: 6.25vw;
  margin: 0 !important;
}
}

.footer-info a{
  width: fit-content;
}

.footer-info .info-icon{
  margin-right: 10px;
}

.social-media{
  text-align: center;
  padding: 50px;
}

.volg-ons ul{
  margin: 25px !important;
  margin-top: 0 !important;
  padding: 0;
}

.volg-ons{
  display: flex;
  justify-content: space-evenly;
}

.social-media h4{
  margin-top: 0;
}

.volg-ons button{
  border: none;
  font-size: 32px;
  transition: all .5s ease-in-out; 
  text-shadow: 0 0 5px #000000;
}

.volg-ons button:hover{
  transform: scale(1.2);
}

.footer-flex ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.input input{
  padding: 7px 12px;
  width: 197px;
  border-radius: 16px;
  font-size: 16px;
  outline: none;
  transition: all .5s ease-in-out; 
}

input{
  border: none;
}

input:focus{
  box-shadow: 0 0 5px #000000;
  border: none;
}

.volg-ons input:hover{
  transform: scale(1.1); 
}

.volg-ons input:focus{
  transform: scale(1.1);
}

.email-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin: 25px;
  max-width: 221px;
}

#input-text{
  border-radius: 16px;
  margin-bottom: 25px;
  box-shadow: 0 0 5px #000000;
}

form button{
  background-color: #42b84c;
  font-size: 16px;
  padding: 7.5px 8px;
  border-radius: 16px;
  border: none;
  transition: all .5s ease-in-out; 
  text-shadow: 2px 2px 3px #000000;
  box-shadow: 0 0 10px 2px #000000;
}

form button:hover{
  transform: scale(1.1);
}

.footer-tab-links{
  padding: 50px;
}

.footer-info ul li a{
  display: flex;
  align-items: center;
  margin: 6.25px;
}

/* footer-tab-links button see header */

.footer-tab-links a{
  border-radius: 16px;
}

.copyright{
  text-align: center;
  padding: 16px;
  font-size: 15px;
  margin: 0;
}

@media screen and (max-width: 328px) {

  
}

/* #endregion */